.menu {
  background-color: rgb(72, 77, 88);
  height: 80px;
  display: flex;
  justify-content: space-between;
}
.movies h3 {
  float: right;
  margin: 20px;
}
.menu-circle {
  font-size: 40px;
}
.left-side-menu {
  margin-left: 40px;
  display: flex;
}
.right-side-menu {
  margin: 20px;
  margin-right: 50px;
}


.main-page-wrap {
  background-color: rgb(242, 243, 245);
  height: calc(100vh - 80px);
  padding: 40px;
}
.main-page {
  color: rgb(72, 77, 88);
}
.main-head {
  height: 50px;
  background-color: royalblue;
}
.main-content {
  height: 450px;
  background-color: salmon;
}
.main-footer {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 150px;
  background-color: rgb(45, 152, 160);
}